<mat-card>
           <h1>Author Form</h1>
           <form #tempForm="ngForm" (ngSubmit)="onSubmit()">
             <div class="example-container">
               <mat-form-field>
                 <input matInput placeholder="author name" [(ngModel)] = "author"
                                  name = "author"
                                  required #spy
                                  #temp = "ngModel">
                 <mat-error *ngIf="!(temp.valid || temp.pristine)">
                   Temperature is required
                 </mat-error>                        
               </mat-form-field>
           
               
               <div >
                   <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">Primary</button>
               </div>
             </div>
           </form>
           </mat-card>